.container {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
  margin-right: 50px;
}
.row {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
  /* justify-content: space-between; */
  row-gap: 20px;
  column-gap: 10px;
}
.image {
  display: block;
}
.image img {
  width: 100px;
  height: 100px;
}
.image .name {
  /* display:flow-root; */
  /* text-align: center; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 20px;
}
.image .price {
  margin-top: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
  font-size: 15px;
}
/* .img{width: 10pixel;} */
